@{
  Layout = "_Layout";
}

<h1>Welcome (back) to Pierre's Bakery, now in v2.0!</h1>
<h2>We want bread, we want pastry!</h2>

<a href="/vendors">See who's already buyin'</a><br>
<a href="/vendors/new">Got someone new buyin'? Add 'em here!</a>