@{
  Layout = "_Layout";
}

<img src="~/img/pierre.gif">
<p>Pierre, you're the man, Pierre!</p>
<p>How can I assist you today?</p>

<a class="link" href="/vendors">See who's already buyin'</a><br><br>
<a class="link" href="/vendors/new">Got someone new buyin'? Add 'em here!</a>