@using Bakery.Models;

@{
  Layout = "_Layout";
}

@if (@Model["orders"].Count == 0)
{
  <h4>They ain't buyin' nothin' yet!</h4>
}
else
{
<h4>This is what they're buyin':</h4>

<ol>
  @foreach (Order order in @Model["orders"])
  {
    <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.OrderTitle</a></li>
  }
</ol>
}
<p><a class="link" href='/vendors/@Model["vendor"].Id/orders/new'>Add some buyin' for this buyer</a></p>
<p><a class="link" href="/vendors">Back to who's buyin'</a></p>
<p><a class="link" href="/">Back to yr control center, Pierre!</a></p>